body{
    
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    }
   h1{
    font-size: 100px;
   }
   .header{
    width: 100%;
    height: 100vh;
    background-image: url(donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   }
   .donate-now{
color: white;
    text-align: center;
   }
   .button{
   background-color: rgba(247, 15, 15, 0.863);
    margin: 5px;
    padding-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 6px;
 }
 .donate-today{
    text-align: center;

 }
 .amount-box-done{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .amount{
   display: flex;
   background-color: rgba(246, 159, 7, 0.805);
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   margin: 10px;
 }
